<div class="user-profile">
<h1>
<div class="name"> 
Name: <%= @user.name %>
</div> 
<div class="email"> 
Email: <%= @user.email %>
</div> 
<div class="email"> 
About: <%= @user.about %>
</div>  
<div> 
<img src=<%= @user.picture %> alt="Profile Picture" height="180" width="180">
</div> 
<br>
  <div>

 <%   if @posts.length != 0 %>
  
    <% @posts.each do |post| %>
      <div class="each-post">
        <div class="title">
          <%= post.title %>
        </div>
        <div class="content">
          <%= post.content %>
        </div>
      </div>
    <br>
       <% end %>
     <% else %>
    <h3 class="no-article-message">
    Sorry the user doesn't have any articles.
     </h3>
  <% end %>
  </div>



</h1>
</div>