<p id="notice" class="alert alert-success"><%= notice %></p>

<div class="mainPagePostContainer">
  <% @posts.each do |post| %>
    <div class="eachPost">
        <div class="title"><%= post.title %></div>
            <div class="info">

        <i class="fa fa-user"></i> 
        <div class="userName"><%= link_to post.user.name, post.user %></div>
        <div class="postDate">
          <i class="fa fa-clock-o"></i>
          <%= post.created_at %>
        </div>
      </div>
      <div class="content shortContent"><%=  post.content %></div>
      
      <div class="readMore"><%= link_to 'Read More -->>', post %></div> 
      <div class="last-line">....</div>
    </div>
  <% end %>
</div>


